.main-wrapper {
    width: 700px;
    margin: auto;
}

.game-field {
    width: 700px;
    height: 770px;
    background-color: #9f6849;
    text-align: center;
}

.cell {
    background-color: #4d5059;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 6%;
}

.-first-player {
    background-color: #fff;
}

.-second-player {
    background-color: #000;
}

.wall {
    display: inline-block;
    width: 20px;
    height: 60px;
    transition: background-color .3s;
}

.wall-fill {
    background-color: #ffd890;
}

.horisont-wall {
    height: 20px;
    width: 60px;
}
.crossover {
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: background-color .3s;
    cursor: pointer;
}
.line{
    height: 60px;
}
.cross-line{
    height: 20px;
}